@font-face {
  font-family: "GG Sans Regular";
  src: url("@/assets/fonts/ggsansRegular.ttf") format("ttf");
}
@font-face {
  font-family: "GG Sans Medium";
  src: url("@/assets/fonts/ggsansMedium.ttf") format("ttf");
}
@font-face {
  font-family: "GG Sans Bold";
  src: url("@/assets/fonts/ggsansBold.ttf") format("ttf");
}
@font-face {
  font-family: "GG Sans SemiBold";
  src: url("@/assets/fonts/ggsansSemibold.ttf") format("ttf");
}



:root {
  --light-clr: #fff;
  --dark-clr: #23272a;
  --brand-clr: #7289da;
  --off-white-clr: #f6f6f6;
  --general-font-size: 2rem;
  --primary-title-font-size: 4.8rem;
  --secondary-title-font-size: 4rem;
  --main-font-family-light: "GG Sans Regular", sans-serif;
  --main-font-family-medium: "GG Sans Medium", sans-serif;
  --main-font-family-bold: "GG Sans Bold", sans-serif;
  --main-font-family-semi-bold: "GG Sans SemiBold", sans-serif;
  --num-of-grid-columns: 4;
  --section-spacing: 5.6rem 2.4rem;
  --container-width: 126rem;
  font-family: var(--main-font-family-light);
}

/* Landing hero nueva */
.landing-hero {
  background-image: url(/backgroundLogin.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 1rem;
}
.landing-hero-content > article {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-hero-content > article > .primary-title {
  width: 300px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.primary-title {
  font-family: var(--main-font-family-bold);
  font-size: 27px;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
  width: 90%;
  padding-top: 2rem;
}
.hero-description {
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: center;
}

.hero-btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 2rem 0;
}

/* Wrapper */

.wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 140px;
  overflow: hidden;
  background: linear-gradient(180deg, #161cbb, #5a7cff);
}

.item {
  width: 200px;
  height: 140px;
  position: absolute;
  left: 100%;
  animation-name: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3.5rem;
  font-family: var(--main-font-family-bold);
  font-weight: 900;
  letter-spacing: 10px;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.textAnimate {
  color: white;
}
.wrapper img {
  width: 50px;
}

/* Download */
.download {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #20269a;
  color: white;
  max-width: 100%;
}

.download .remove-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  height: auto;
  text-align: center;
  background-color: #20269a;
}

.download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  padding-bottom: 20px;
  margin: 0;
  color: white;
}
.download .remove-grid h2 {
  width: fit-content;
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-family: var(--main-font-family-bold);
  font-weight: 900;
  color: white;
}

@keyframes scrollleft {
  to {
    left: -200px;
  }
}

@keyframes disapeard {
  0% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0.1;
  }
}

@keyframes scaled {
  from {
    scale: 0.9;
  }
  to {
    scale: 1.1;
  }
}

@keyframes zoomImage {
  from {
    scale: 0.9;
  }
  to {
    scale: 1.2;
  }
}

@media (min-width: 1024px) {
 

  .primary-title {
    padding-top: 0rem;
    text-align: left;
    width: 100%;
    font-size: 3.1rem;
  }
  .hero-description {
    font-size: 1.5rem;
    text-align: left;
    width: 26rem;
  }
  .hero-btn-group {
    flex-direction: row;
  }

  .title-download {
    width: 24rem;
  }
 
  
  .download > .remove-grid > .download-container > .title-download {
    width: 55rem;
    line-height: 3.5rem;
    padding-bottom: 1rem;
  }
  .download .remove-grid {
    animation: zoomImage linear forwards;
    animation-timeline: view();
    animation-range: enter;
  }
  .landing-hero-content {
    flex-direction: row;
  }
  .landing-hero-content > article {
    justify-content: left;
    align-items: left;
  }
  .landing-hero-content > article > .primary-title {
    width: 400px;
  }

}
@media (max-width: 1300px) {
  .wrapper,
  .reviews > h2 {
    display: none;
  }
}
