.container-register{
    background-color: #313338;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-form-register{
    height: 100vh;
}
.container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
   
}

.container-register > .img-logo-register > img {
    width: 9rem;
    padding: 30px 0;
}
.container-form h2 {
    color: white;
    padding-bottom: 40px;
}
.container-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 20px;
    width: 100%;
    gap: 20px;
}
.container-form .inputCheck{
    color: white;
    opacity: .5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    padding-top: 1rem; 
}
.container-form form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}
.container-form form div label{
    color: white;
    font-size: 12px;
    opacity: .7;
}
.container-form form div input{
    background-color: #1e1f22;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 2.4rem;
    border-radius: 5px;
} 
.container-form > form > button{
    background-color: #444c95;
    font-weight: 700;
    color: white;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 3px;
}

.check{
    accent-color: #5865f2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
.inputCheck > label {
    cursor: pointer;
}
.alreadyAccount{
    width: 100%;
    padding-left: 12px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
   
}
.alreadyAccount > a {
    color: #00a8fc;
    font-size: 14px;
}

@media screen and (min-width: 1024px){
    .container-register{
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: first baseline;
        height: 100vh;
        background-image: url(/backgroundLogin.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-form-register{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .img-logo-register{
        padding-left: 2rem
    }
    .container-form{
        width: 480px;
        height: 702px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #313338;
        border-radius: 5px;
    }
}