.chat-container{
    background-color: #393943;
    height: 100vh;
}
.chat-container > .windows-chat{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    background-color: #393943;
    height: 90vh;
    gap: 10px;
    padding: 2rem;
    
}
.windows-chat > p {
    padding: 1.5rem 2rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: left;
    align-items: end;
    text-align: left;
    width: auto;
   
}
.chat-container > form > .input-chat{
    padding: 0;
    display: flex;
    
}
.chat-container > .container-chat-form > .form-chat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chat-container > .container-chat-form > .form-chat > .input-chat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.chat-container > .container-chat-form > .form-chat > .input-chat > input{
    height: auto;
    width: 95%;
}
.chat-container > .container-chat-form > .form-chat > .input-chat > .btn-chat{
    cursor: pointer;
    width: 5%;
}
