
/* *{
    box-sizing: content-box;
} */
.containerHero{
    position: relative;
    height: 13rem;
    border-radius: .3rem;
    z-index: 10;
    /* height: 30rem; */
/*     width: 53.3rem;
    border-radius: 1rem;
    margin-top: 1.5rem; 
    z-index: 10; */
    
}

/* sm */
@media (min-width: 640px){
    .containerHero{
        height: 16rem;
    }
    .imgHero{
        height: 17rem;
    }
  
}
@media (max-width: 640px){

    .imgHero{
        height: 14rem;
    }
  
}


/* md */
@media (min-width: 768px){
    .containerHero{
        height: 19rem;
    }
    .imgHero{
        height: 20rem;
    }
    .textImg{
        font-size: 24px;
    }
    .subTextImg{
        font-size: 17px;
    }
    .inputImg::placeholder{
        font-size: 16px;
        color: #6B7280; 
    }
    .inputImg {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem; 
        width: 35rem;
    }
}

/* Imagen de fondo */
.hero{
    position:absolute;
    display:flex;
    width: 100%;

}

.imgHero{
 
    object-fit: cover;
    width: 100%;
    /* height: 14rem; */
    border-radius: 0.3rem;
    opacity: .5;
}



/* Overlay */
.overlay{
 /*    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
    border-radius: 1rem;
    z-index: 10; */
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    opacity: .2;
    z-index: 10;
}


/* Filtro de búsqueda */
.contentImg {
/*     height: 30rem;
    width: 100%;
    min-width: 852px;
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 20;
    color: #ffffff;  */
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 700; 
    color: white;
    padding-bottom: 0; 
    margin-top: 0.5rem; 
    
}

.textImg{
   /*  font-size: 25px;
    line-height: 2px;
    font-weight: 900;
    cursor: default; */
    font-size: 19px;
    font-weight: 900; 
}
.subTextImg{
/*     font-size: 14px;
    line-height: 1px;
    font-weight: 500;
    opacity: .7;
    cursor: default; */
    padding-bottom: 0.5rem; 
    font-size: 13.5px;
    color:white;
    opacity: .7;

}

.containerInput {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem; 
}

.inputImg {
/*     margin-top: 20px;
    border-radius: .3rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border: 0px;
    outline: 0px;
    width: 387px;
    height: 1.8rem;
    max-width: 70vh; */
    border-radius: .3rem;
    padding-left: 0.75rem; 
    border: 0;
    outline: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    width: 100%;
    color: black;
    
}
.inputImg::placeholder{
    font-size: 14px;
    color: #4B5563; 
    opacity: .55;
}

.iconSearch {
    position: absolute;
    right: 1.1rem; 

    color: black;
    cursor: pointer;
}