.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20269A;
    color: white;
    text-align: center;
    gap: 10px;
    padding: 10rem 0rem;
}
.reviews > h2{
    font-family: var(--main-font-family-bold);
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
    
}

.reviews > .wrapper{
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 80px;
    overflow: hidden;
    background: linear-gradient(180deg, #161cbb, #5a7cff);
    
  }
  
  .reviews > .wrapper > .item{
    width: 200px;
    height: 80px;
    position: absolute;
    left: 100%;
    animation-name: scrollleft;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .8rem;
    font-family: var(--main-font-family-bold);
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
  }
  
  .reviews >   .wrapper > .item1{
    animation-delay: calc(50s / 10 * (10 - 1) * -1);
    
  }
  .reviews >  .wrapper > .item2{
    animation-delay: calc(50s / 10 * (10 - 2) * -1);
    
  }
  .reviews >  .wrapper > .item3{
    animation-delay: calc(50s / 10 * (10 - 3) * -1);
    
  }
  .reviews >  .wrapper > .item4{
    animation-delay: calc(50s / 10 * (10 - 4) * -1);
    
  }
  .reviews >  .wrapper > .item5{
    animation-delay: calc(50s / 10 * (10 - 5) * -1);
    
  }
  .reviews >  .wrapper > .item6{
    animation-delay: calc(50s / 10 * (10 - 6) * -1);
    
  }
  .reviews >  .wrapper > .item7{
    animation-delay: calc(50s / 10 * (10 - 7) * -1);
    
  }
  .reviews >  .wrapper > .item8{
    animation-delay: calc(50s / 10 * (10 - 8) * -1);
  }
  .reviews >  .wrapper > .item9{
    animation-delay: calc(50s / 10 * (10 - 9) * -1);
  }
  .reviews >  .wrapper > .item10{
    animation-delay: calc(50s / 10 * (10 - 10) * -1);
  }
  
  .textAnimate{
    color: white;
  }