.main-header {
  padding: 2rem 1.4rem;
  background-color: #21177c;
}
.main-header-not-found {
  background-color: #23272a;
  padding: 0 2.4rem;
}
.container > .logo {
  display: flex;
  width: 8rem;
}
.container {
  display: flex;
  justify-content: space-between;
}

.btn-menu {
  padding: 1rem;
  color: white;
  background-color: transparent;
}

@media (min-width: 1240px){
  .mobile-toggle {
    display: none;
  }
}