.discover {
  display: flex;
  width: 100%;
}
.discover > .discover-comunidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 6rem;
    width: 100%;
    background-color: antiquewhite;
}
.discover > .discover-comunidad >.discover-comunidad-img{
    background-image: url("/servers/main/fondoServers.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.discover > .discover-comunidad >.discover-comunidad-img > h1{
    font-family: 'GG Sans Bold', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}
.discover > .discover-comunidad > .discover-comunidad-img > img{
    width: 10rem;
}


.discover > .discover-comunidad > .discover-container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

@media (min-width: 1024px) {
  .discover > .discover-comunidad {
    padding-left: 7rem;
  }
.discover > .discover-comunidad >.discover-comunidad-img > h1{
    font-size: 3rem;
}
}
