main > .main-header {
  background-color: #5125f3;
}

.hero-servers > .hero-server-img {
  position: relative;
  top: 0;
  height: 400px;
  width: 100%;
  z-index: -10;
}

.hero-servers > .hero-server-img > .fondo-servers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-servers > .hero-server-img > .izq-servers,
.hero-servers > .hero-server-img > .dcha-servers {
  visibility: hidden;
}
.hero-servers > .hero-server-img > .title-img {
  position: absolute;
  top: 25%;

  z-index: 9999;
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.hero-servers > .hero-server-img > .text-img {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 11rem;
  z-index: 9999;
  display: flex;
  color: white;
  font-size: 1rem;
  text-align: center;
}
.hero-servers > .hero-server-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-servers > .hero-server-input > .form-server {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.hero-servers > .hero-server-input > .form-server > div > input {
  height: 2rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border: none;
  background-color: #34363B;
  padding: 1rem;
  outline: none;
  color: white;
  width: 20rem;
}
.hero-servers > .hero-server-input > .form-server > button{
  height: 2rem;
  background-color: #34363B;
  color: white;
  border: none;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-servers > .hero-server-input > .form-server > button > .server-input-search-icon{
  font-size: 1.25rem;
  margin: 1rem;
}
.filter-servers > .servers-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .hero-servers > .hero-server-img > .izq-servers {
    visibility: visible;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100px;
    width: 25%;
  }
  .hero-servers > .hero-server-img > .dcha-servers {
    visibility: visible;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100px;
    width: 25%;
  }
  .hero-servers > .hero-server-img > .title-img {
    left: 28%;
  }
  .hero-servers > .hero-server-img > .text-img {
    top: 38%;
    left: 38%;
    width: 35rem;
  }
  .hero-servers > .hero-server-input > .form-server > div > input {
    width: 50rem;
  }

}
