.hero-servers {
  position: relative;
  z-index: -4;
}
.hero-server-img {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
  z-index: -10;
}
main > .main-header{
  background-color: #5125F3;
}

.fondo-servers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.izq-servers,
.dcha-servers {
  visibility: hidden;
}
.hero-server-img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-server-img-content > h1 {
  text-transform: uppercase;
  width: 300px;
  text-align: center;
}
.hero-server-img-content > p {
  width: 500px;
  text-align: center;
  padding-bottom: 1rem;
}
 .form-server {
  position: absolute;
  left: 25%;
  width: 50% ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  gap: 0;
}

.form-server > div {
  width: 90%;
}

.form-server > div > input {
  height: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0;
  padding: 1rem;
  z-index: 99999;
}
.form-server > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #1e1f22;
  padding: 0;
  cursor: pointer;
}
.filter-servers {
  display: flex;
  flex-direction: column;
  padding-top: 7.8rem;
}


@media (min-width: 1024px) {
  .izq-servers {
    visibility: visible;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100px;
    width: 25%;
  }
  .dcha-servers {
    visibility: visible;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100px;
    width: 25%;
  }
  .hero-server-img-content > form {
    width: 600px;
  }
}
/* .hero-server-img-content{
    position: absolute;
    z-index: -4;
    
}  */
/* .hero-servers {
  position: relative;
  height: 400px;
  z-index: 2;
}


.hero-server-img-content {
  position: relative;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: -2;
  width: 25rem;
}
.hero-server-img-content > .title-img {
  font-size: 2rem;
  font-weight: 900;
  width: 25rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
  padding-bottom: 20px;
}

.hero-server-img-content > .text-img {
  width: 20rem;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
}
.hero-server-img-content > form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 0;
}
.hero-server-img-content > form > div {
  width: 30%;
}
.hero-server-img-content > form > div > input {
  height: 40px;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  background-color: #ebebeb;
  color: black;
}
.hero-server-img-content > form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ebebeb;
}

.hero-server-img-content > form > button > .server-input-search-icon {
  font-size: 20px;
  color: #000;
}

.filter-servers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servers-match {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  padding-block: 2rem;
  width: min(95%, 100rem);
  margin-inline: auto;
} */

/* @media (min-width: 1024px) {
  .hero-server-img > .izq-servers {
    visibility: visible;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 400px;
  }
  .hero-server-img > .dcha-servers {
    visibility: visible;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: -1;
  }
  .hero-server-img-content {
    left: 45%;
 position: relative;
    display: flex;
    top: 0;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: -2;
    width: 25rem;
  } 
  .hero-server-img-content > .title-img {
    font-size: 3rem;
    width: 25rem;
    line-height: 48px;
  }
} */
