.hero-servers{
    position: relative;
    height: 400px;
    z-index: 2;
}

.hero-server-img{
    width: 100%;

}
.hero-server-img > .fondo-servers{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.hero-server-img > .izq-servers{
   visibility: hidden;
   position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width:400px
}
.hero-server-img > .dcha-servers{
   visibility: hidden;
   position: absolute;
        bottom: 0;
        right: 0;
        width:400px;
        z-index: -1;
}
.hero-server-img-content{
    position: relative;
    display: flex;
    top: 50;
    height: 100%;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: -2;
}
.hero-server-img-content > .title-img{
    font-size: 54px;
    font-weight: 900;
    width: 450px;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
    padding-bottom: 20px;
}

.hero-server-img-content > .text-img{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
}
.hero-server-img-content > form  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 0;

}
.hero-server-img-content > form > div {
    width: 30%;
    
}
.hero-server-img-content > form > div > input{
    height: 40px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    background-color: #ebebeb;
    color: black;
}
.hero-server-img-content > form > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ebebeb;
    
}

.hero-server-img-content > form > button > .server-input-search-icon {
    font-size: 20px;
    color: #000;
}
    

.server{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

    padding: 50px 0px;
    height: 200px;
}
.server .server-img-banner{
    width: 300px;
    padding-left: 0;
    
}
.server .server-img-banner > img{
    object-fit: contain;
    border-radius: 10px;;
}
.filter-servers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /*  padding: 1rem 10rem; */
    /* gap: 7rem; */
}
.servers-category{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
    gap: 20px;
    padding: 1rem;
   
}
.servers-category > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: .7;
    background-color: #fff;
    color: black;
   /*  padding: .6rem; */
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
.servers-category > div > label {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: .6rem;
}
.servers-category > div > input{
    width: 20px;
    height: 30px;
    border-radius: 10px;
    
}

.servers-category > div:hover{
    background-color: #ebebeb;
}
.servers-category > div:focus{
    background-color: #ebebeb;
}
.filter-servers .servers-match .server-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.server-content-logo{
    display: flex;
    padding-bottom: 5px;
    gap: 10px;
}
.server-content-logo > img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.server-content-logo > h1{
    font-size: 14px;
}
.server-content-descrip {
    display: flex;
    flex-direction: column;
    opacity: .8;
    font-size: 12px;
    
    gap: 15px;
}
.server-content-descrip-details{
    opacity: .6;
}


.server-content-descrip-insignias > span{
    background-color: #ebebeb;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
@media (min-width: 1024px){
    .hero-server-img > .izq-servers{
        visibility: visible;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width:400px
    }
    .hero-server-img > .dcha-servers{
        visibility: visible;
        position: absolute;
        bottom: 0;
        right: 0;
        width:400px;
        z-index: -1;
    }
}