.comunidad-section-4 {
  width: 100%;
  height: 68rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 3rem 0rem 3rem ;

}

.comunidad-container-banner {
  background-color: blue;
  position: relative;
  height: 20rem;
}
.comunidad-container-banner > .comunidad-banner {
  position: absolute;
  top: 70%;
  left: 10%;
  border-radius: 1rem;
}

.comunidad-container-banner > .comunidad-logo {
  visibility: hidden;
}
.comunidad-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.comunidad-title-container > .comunidad-logo {
  width: 100px;

  left: 15%;
  bottom: 0;
  border: 10px solid white;
  border-radius: 15px;
}
.comunidad-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}
.comunidad-title-container .check {
  width: 24px;
  height: 24px;
}
.comunidad-title {
  font-size: 1.5rem;
}
.comunidad-description {
  font-size: 0.8rem;
  opacity: 0.6;
  padding-bottom: 1rem;
}
.comunidad-online-members-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 1.5rem;
}
.comunidad-online {
  padding-right: 10px;
}
.comunidad-online,
.comunidad-members {
  font-size: 0.8rem;

  opacity: 0.8;
}
.dot-online {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: green;
}
.dot-members {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: gray;
}
.comunidad-line {
  width: 100%;
  height: 1px;
  background-color: gray;
  opacity: 0.4;
}
.comunidad-about,
.comunidad-languages {
  padding-top: 2rem;
  font-size: 1.5rem;
}
.comunidad-about-description,
.comunidad-languages-description {
  font-size: 0.9rem;
  opacity: 0.7;
  padding: 1rem 0 2rem 0;
  line-height: 1.5rem;
}
.comunidad-buttons {
  display: fixed;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.comunidad-btn-share {
  display: none;
}
.comunidad-btn-join {
  background-color: #5865f2;
  width: 100%;
  padding: 1rem .5rem;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  /*   .comunidad-section-3 {
    max-width: 2000px;
  } */
  .comunidad-section-4 {
    flex-direction: row;
  padding: 6rem 10rem 0rem 10rem ;
  justify-content: baseline;
  align-items: start;
  padding-top: 20rem;

    /*  max-width: 1800px; */
  }

  .comunidad-info-container {
    width: 100%;
    /* padding-left: 31rem; */
  }
  .comunidad-container {
    height: 105rem;
  }
  .comunidad-title-container > .comunidad-logo {
    display: none;
  }

  .comunidad-title {
    font-size: 3rem;
  }
  .comunidad-description {
    font-size: 1.5rem;
    opacity: 0.6;
    padding-bottom: 2rem;
  }

  .comunidad-online,
  .comunidad-members {
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0.8;
  }
  .dot-online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
  }
  .dot-members {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
  }
  .comunidad-container-banner > .comunidad-logo {
    visibility: visible;
    width: 100px;
    position: relative;

    left: 15%;
    top: 33rem;
    border: 10px solid white;
    border-radius: 15px;
  }

  .comunidad-about-description,
  .comunidad-languages-description {
    font-size: 1.1rem;
    opacity: 0.7;
    padding: 1rem 0 2rem 0;
    line-height: 1.5rem;
  }
  .comunidad-buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    width: 25%;
  }
  .comunidad-btn-join {
    background-color: #5865f2;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;

  }
  .comunidad-btn-share {
    display: flex;
    justify-content: center;
    background-color: #80848e;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    border: none;
    padding: 1rem .5rem;
    border-radius: 1rem;


  }

  .comunidad-btn-join:hover {
    background-color: #4e5be2;
  }
  .comunidad-btn-share:hover {
    background-color: #9ca1af;
  }
  .comunidad-container-banner > .comunidad-banner {
    top: 30%;
    width: 80rem;
    height: 30rem;
    border-radius: 3rem;
  }
}
